<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WallyHomeServiceUrl" value="?" />
    <add key="WallyAuthorization" value="?" />
    <add key ="HueIpAddres" value="?"/>
    <add key= "HueAppKey" value="?"/>
  </appSettings>
</configuration>